.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1a202c; /* Dark background color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a5568; /* Slightly lighter color for the thumb */
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #718096; /* Even lighter color on hover */
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #1a202c;
}